#parse("header.vm")
<div>
Bem vindo $monitor.usuario
</div>

<form action="formularioRespondido" method="POST"> 

#foreach($etapaRespondida in $formularioRespondido.etapaRespondidas)
#set($etapaRespondidaCount = $velocityCount)
  <fieldset>
    <legend>$etapaRespondida.etapa.descricao</legend>
#foreach($perguntaRespondida in $etapaRespondida.perguntasRespondidas)
#set($perguntaRespondidaCount = $velocityCount)
#set($pergunta = $etapaRespondida.etapa.getPerguntaByNumero($perguntaRespondidaCount))

$pergunta.descricao <br>

<div>
<input type="radio" name="etapaRespondidas[$etapaRespondidaCount].perguntasRespondidas[$perguntaRespondidaCount].resposta" value="SIM" #if($perguntaRespondida.resposta == "SIM") checked #end >Sim 
<input type="radio" name="etapaRespondidas[$etapaRespondidaCount].perguntasRespondidas[$perguntaRespondidaCount].resposta" value="NAO" #if($perguntaRespondida.resposta == "NAO") checked #end >Nao
<input type="radio" name="etapaRespondidas[$etapaRespondidaCount].perguntasRespondidas[$perguntaRespondidaCount].resposta" value="NA"  #if($perguntaRespondida.resposta == "NA") checked #end >NA
</div>
<div>
<input type="text" name="id" id="id" value="">
</div>
<br>
#end


</fieldset>
#end

<input type="submit"/>

</form>

#parse("footer.vm")