#parse("header.vm")
<form name="monitorLogin" action="/monitorLogin" method="POST">

Monitor* :
<input type="text" name="id" id="id" value="$!monitorLogin.id">
<input type="submit"/> 
</form>
#parse("footer.vm")