#parse("header.vm")

<table border="1">

#if($formulariosRespondidos.list.empty)

Bem vindo $monitor.usuario, você não possui nenhum formulário respondido.

#else

	<tr>
		<th width="20%">Monitor</th>
		<th width="20%">Data da Visita</th>
		<th width="">Centro</th>
		<th width="25%">Estudo</th>
		<th width="">KPI</th>
	</tr>	
	#foreach($formularioRespondido in $formulariosRespondidos.list)
	<tr>
		<td>
		<a href="formularioRespondido?keyValue=$formularioRespondido.keyValue">$formularioRespondido.monitor.usuario</a>
		</td>
		<td>
		<a href="formularioRespondido?keyValue=$formularioRespondido.keyValue">$formularioRespondido.dataVisitaAsString</a>
		</td>
		<td>
		<a href="formularioRespondido?keyValue=$formularioRespondido.keyValue">$formularioRespondido.centro</a>
		</td>
		<td>
		<a href="formularioRespondido?keyValue=$formularioRespondido.keyValue">$formularioRespondido.estudo</a>
		</td>
		<td>
		<a href="formularioRespondido?keyValue=$formularioRespondido.keyValue">$!formularioRespondido.kpiAsString </a>
		</td>
	</tr>
	#end

#end

</table>


#parse("footer.vm")