#parse("header.vm")
<div>
Bem vindo $monitor.usuario
</div>

<form action="formularioRespondido" method="POST"> 

#foreach($etapaRespondida in $formularioRespondido.etapaRespondidas)
#set($etapaRespondidaCount = $velocityCount - 1)
  <fieldset>
    <legend>$etapaRespondida.etapa.descricao</legend>
#foreach($perguntaRespondida in $etapaRespondida.perguntasRespondidas)
#set($perguntaRespondidaCount = $velocityCount - 1)

$perguntaRespondida.pergunta.descricao <br>

<div>
<input type="radio" name="etapaRespondidas[$etapaRespondidaCount].perguntasRespondidas[$perguntaRespondidaCount].resposta" value="SIM">Sim 
<input type="radio" name="etapaRespondidas[$etapaRespondidaCount].perguntasRespondidas[$perguntaRespondidaCount].resposta" value="NAO">Nao
<input type="radio" name="etapaRespondidas[$etapaRespondidaCount].perguntasRespondidas[$perguntaRespondidaCount].resposta" value="NA">NA
</div>
<div>
<input type="text" name="id" id="id" value="$!monitorLogin.id">
</div>
<br>
#end


</fieldset>
#end

</form>

#parse("footer.vm")